.movies-card {
    margin: 0;
    padding: 0;
    width: 270px;
    height: auto;
    background: #FDFDFD;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    justify-self: center;
}

.movies-card__video-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}

.movies-card__video {
    margin: 0;
    padding: 0;
    width: 270px;
    height: 151px;
    object-fit: cover;
}

.movies-card__info {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.movies-card__title {
    margin: 14px auto 0 12px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    /* identical to box height */


    color: #000000;
}

.movies-card__duration {
    margin: 10px auto 0 12px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;

    color: #A0A0A0;
}

.movies-card__like-area {}

.movies-card__like {
    margin: 14px 12px 37px auto;
    padding: 0;
    background-image: url('../../../images/like.svg');
    background-size: 16px 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background: #F9F9F9;
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
    border: none;
    cursor: pointer;
}

.movies-card__liked {
    margin: 14px 12px 37px auto;
    padding: 0;
    background-image: url('../../../images/like.svg');
    background-size: 16px 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: #2BE080;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
    border-radius: 50px;
    border: none;
}

.movies-card__delete {
    margin: 14px 12px 37px auto;
    padding: 0;
    background-image: url('../../../images/delete.svg');
    background-size: 16px 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none;
}

@media screen and (max-width: 1023px) {
    .movies-card {
        width: 339px;
        height: 257px;
    }

    .movies-card__video {
        margin: 0;
        padding: 0;
        width: 339px;
        height: 190px;
    }
}

@media screen and (max-width: 767px) {
    .movies-card {
        width: 300px;
        height: 235px;
    }

    .movies-card__video {
        width: 300px;
        height: 168px;
    }
}