.movies-list {
    margin: 70px auto 0 auto;
    padding: 0;
    max-width: 1140px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, 270px);
    /* grid-template-columns: repeat(3, 282px); */
    column-gap: 20px;
    row-gap: 32px;
    justify-content: center;
}

.movies-list__button-more {
    margin: 50px 70px 0 70px;
    padding: 0;
    width: 1140px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: #F9F9F9;
    border-radius: 6px;
    outline: none;
    border: none;
    color: #000000;
}

@media screen and (max-width: 1023px) {
    .movies-list {
        max-width: 768px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 339px);
        column-gap: 30px;
        row-gap: 36px;
    }

    .movies-list__button-more {
        margin: 50px 30px 0 30px;
        width: 708px;
    }
}

@media screen and (max-width: 767px) {
    .movies-list {
        margin: 40px auto 0 auto;
        max-width: 300px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        /* grid-template-columns: repeat(3, 282px); */
        column-gap: 0;
        row-gap: 20px;
    }

    .movies-list__button-more {
        margin: 50px 10px 0 10px;
        padding: 0;
        width: 300px;
    }
}