.about-me {
    margin: 0;
    padding: 0;
}

.about-me__title {
    margin: 0 auto 23px 70px;
    padding: 110px 0 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.about-me__line {
    margin: 0 70px;
    padding: 0;
    border-bottom: 1px solid #000000;
}

.about-me__block-info {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "name photo"
        "about photo"
        "text photo"
        "link photo";
}

.about-me__name {
    margin: 66px 0 0 70px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    grid-area: name;
}

.about-me__about {
    margin: 18px 0 0 70px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    grid-area: about;
}

.about-me__text {
    margin: 26px 0 0 70px;
    padding: 0;
    width: 600px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    grid-area: text;
}

.about-me__photo {
    margin: 66px 70px 0 auto;
    padding: 0;
    width: 270px;
    height: 327px;
    object-fit: cover;
    border-radius: 10px;
    grid-area: photo;
}

.about-me__link-area {
    margin: 99px 0 0 70px;
    padding: 0;
    grid-area: link;
}

.about-me__link {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;


    color: #000000;
    text-decoration: none;
}

.about-me__link:hover {

    cursor: pointer;
    opacity: .6;
}

.about-me__link:last-of-type {
    margin-left: 20px;
}

@media screen and (max-width: 1023px) {
    .about-me__title {
        margin-left: 50px;
        padding-top: 90px;
    }

    .about-me__line {
        margin: 0 50px;
    }

    .about-me__name {
        margin-left: 50px;
        font-size: 40px;
        line-height: 40px;
    }

    .about-me__about {
        margin: 16px 0 0 50px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__text {
        margin: 20px 0 0 50px;
        padding: 0;
        width: 364px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__photo {
        margin-right: 50px;
        width: 255px;
        height: 307px;
    }

    .about-me__link-area {
        margin: 87px 0 0 50px;
    }

}


@media screen and (max-width: 767px) {
    .about-me__title {
        margin: 0 auto 28px 14px;
        padding-top: 70px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-me__line {
        margin: 0 14px;
    }

    .about-me__block-info {

        grid-template-columns: 320px;
        grid-template-areas: "photo"
            "name"
            "about"
            "text"
            "link";
        justify-content: center;
    }

    .about-me__name {
        margin: 40px 0 0 14px;
        font-size: 30px;
        line-height: 36px;
    }

    .about-me__about {
        margin: 20px 0 0 14px;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__text {
        margin: 20px 0 0 14px;
        padding: 0;
        width: 292px;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__photo {
        margin: 60px auto 0 auto;
        padding: 0;
        width: 292px;
        height: 352px;
    }

    .about-me__link-area {
        margin: 40px 0 0 14px;
    }

    .about-me__link:last-of-type {
        margin-left: 26px;
    }
}