.techs {
    margin: 0;
    padding: 0;
    height: 625px;
    background-color: #F5F5F5;
}

.techs__title {
    margin: 0 auto 23px 70px;
    padding: 110px 0 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.techs__line {
    margin: 0 70px;
    padding: 0;
    border-bottom: 1px solid #000000;
}

.techs__subtitle {
    margin: 90px auto 0 auto;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    /* identical to box height, or 116% */

    text-align: center;
    letter-spacing: -0.04em;
}

.techs__text {
    margin: 26px auto 0 auto;
    padding: 0;
    max-width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
}

.techs__list {
    margin: 100px auto 100px auto;
    padding: 0;
    max-width: 690px;
    display: flex;
}

.techs__list-item {
    margin-right: 10px;
    padding: 21px 0 22px 0;
    width: 90px;
    display: inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    background: #E8E8E8;
    border-radius: 10px;
    text-align: center;
}

.techs__list-item:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 1023px) {
    .techs {
        height: 567px;
    }

    .techs__title {
        margin-left: 50px;
        padding-top: 90px;
    }

    .techs__line {
        margin: 0 50px;
    }

    .techs__subtitle {
        margin-top: 80px;
    }

    .techs__text {
        margin-top: 22px;
        font-size: 12px;
        line-height: 18px;
    }

    .techs__list {
        margin: 83px auto 90px auto;
        padding: 0;
        max-width: 668px;
        display: flex;

    }

    .techs__list-item {
        padding-bottom: 21px;
        width: 84px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 767px) {
    .techs {
        height: 651px;
    }

    .techs__title {
        margin-bottom: 28px;
        margin-left: 18px;
        padding-top: 70px;
        font-size: 18px;
        line-height: 22px;
    }

    .techs__line {
        margin: 0 18px;
    }

    .techs__subtitle {
        margin-top: 60px;
        font-size: 30px;
        line-height: 36px;
    }

    .techs__text {
        margin-top: 24px;
        max-width: 292px;
        font-size: 11px;
        line-height: 16px;
    }

    .techs__list {
        margin: 50px auto 70px auto;
        padding: 0;
        max-width: 178px;
        height: 258px;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .techs__list-item {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 84px;
        font-size: 12px;
        line-height: 15px;
    }

    .techs__list-item:nth-child(2n) {
        margin-right: 0;
    }

}