.footer {
    margin: 0;
    padding: 0;
}

.footer__title {
    margin: 79px 0 0 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    color: #A0A0A0;
}

.footer__line {
    margin: 20px 0 0 70px;
    padding: 0;
    max-width: 1140px;
    border-bottom: 1px solid #E8E8E8;
}

.footer__year {
    margin: 20px 0 20px 70px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    display: block;


    color: #000000;

}

.footer__links {
    margin: 0 70px 0 0;
    padding: 0;
    display: flex;
    max-width: 283px;
    justify-content: space-between;
}

.footer__link {
    margin: 20px 0 20px 20px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    text-align: right;

    color: #000000;
    text-decoration: none;

    /* display: inline-block; */

}